<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%X{akkaTimestamp}) %highlight(%-5level) %cyan(%X{akkaSource}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${DEEPRICER_LOG_LEVEL:-DEBUG}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="INFO"/>
    <logger name="eventstore.tcp" level="INFO"/>
</configuration>