utils/.classpath
adwords/.classpath
adwords/.cache
utils/.cache
workers/.cache
workers/target*
adwords/target*
utils/target*
*.DS_Store*
*.cache*
*target*
*.jar
*.war
*.ear
*.class
nohup.out
log4j.log*
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
target/*
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
*.log
dependency-reduced-pom.xml
adwords/.classpath
adwords/.settings/org.eclipse.jdt.core.prefs
